body {
	font-family: Arial;
	width: 500px;
}

button {
	background-color: white;
	border: solid 1px #BDCBE0;
	border-radius: 6px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
	color: #333;
	cursor: pointer;
	margin-bottom: 6px;
	padding: 2px 10px 2px 10px;
	vertical-align: bottom;
}

button:hover {
	background-color: rgba(0, 0, 0, 0.35);
}

i {
	font-size: 12px;
}

ul {
	padding: 0;
}

.list li {
	border-color: #BDCBE0 #AAAAAA #BDCBE0 #BDCBE0;
	border-radius: 12px;
	border-style: solid;
	border-width: 1px;
	list-style: none;
	margin-bottom: 10px;
	padding: 10px;
	width: 480px;
}

.list li button {
	float: right;
}

.list li img {
	height: 20px;
}

.list li .vicinity {
	font-size: 12px;
	color: #999;
}

.nokia-places-general-searchbox .nokia-searchbox-input {
	width: 370px;
}

.nokia-places-general-searchbox .nokia-searchbox {
	width: 100%;
}

#mapContainer {
	height: 500px;
	width: 100%;
}